<nav class="sidebar-left-collapse">

  <a href="{{ url('homepage') }}" class="company-logo"><i class="fa fa-video-camera"></i></a>

  <div class="sidebar-links">

    <div class="link-blue{% if app.request.attributes.get('_route') == 'cameras' %} selected{% endif %}">
      <a href="{{ url('cameras') }}"><i class="fa fa-list"></i>Liste des caméras</a>
    </div>

    <div class="link-yellow{% if app.request.attributes.get('_route') == 'medias_populaires' %} selected{% endif %}">
      <a href="{{ url('medias_populaires') }}"><i class="fa fa-star"></i>Médias populaires</a>
    </div>

    <div class="link-green{% if app.request.attributes.get('_route') == 'medias_recents' %} selected{% endif %}">
      <a href="{{ url('medias_recents') }}"><i class="fa fa-clock-o"></i>Médias récents</a>
    </div>

    <div class="link-red{% if app.request.attributes.get('_route') == 'medias_photo_periode' %} selected{% endif %}">
      <a href="{{ url('medias_photo_periode', {periode: 'de-la-semaine'}) }}"><i class="fa fa-picture-o"></i>Médias de la semaine</a>
    </div>

    <div class="link-blue{% if app.request.attributes.get('_route') == 'contact' %} selected{% endif %}">
      <a href="{{ url('contact') }}"><i class="fa fa-envelope"></i>Contact</a>
    </div>
  </div>

  {% if app.user is empty %}
    <div class="bottom">
      <a href="{{ url('fos_user_security_login') }}" class="connect">Connexion</a>
    </div>
  {% else %}
    <div class="bottom">
      <p>Bienvenue @{{ app.user.username }}</p>
      <a href="{{ url('fos_user_profile_show') }}" class="connect">Mon profil</a>
      {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ url('sonata_admin_dashboard') }}" class="connect">Administration</a>
      {% endif %}
      <a href="{{ url('fos_user_security_logout') }}" class="connect">Déconnexion</a>
    </div>
  {% endif %}
</nav>
