<nav class="sidebar-left-collapse">

    <a href="{{ url('homepage') }}" class="company-logo"><i class="fa fa-video-camera"></i></a>

    <div class="sidebar-links">

        <div class="link-blue{% if app.request.attributes.get('_route') == 'cameras' %} selected{% endif %}">
            <a href="{{ url('cameras') }}"><i class="fa fa-list"></i>Liste des caméras</a>
        </div>

        <div class="link-yellow{% if app.request.attributes.get('_route') == 'medias_populaires' %} selected{% endif %}">
            <a href="{{ url('medias_populaires') }}"><i class="fa fa-star"></i>Médias populaires</a>
        </div>

        <div class="link-green{% if app.request.attributes.get('_route') == 'medias_derniers' %} selected{% endif %}">
            <a href="{{ url('medias_derniers') }}"><i class="fa fa-clock-o"></i>Derniers médias</a>
        </div>

        <div class="link-blue{% if app.request.attributes.get('_route') == 'contact' %} selected{% endif %}">
            <a href="{{ url('contact') }}"><i class="fa fa-envelope"></i>Contact</a>
        </div>
    </div>

    {% if app.user is empty %}
        <div class="bottom"><a href="{{ url('fos_user_security_login') }}" class="connect">Connexion</a></div>
    {% else %}
        <div class="bottom"><a href="{{ url('fos_user_security_logout') }}" class="connect">Déconnexion</a></div>
    {% endif %}
</nav>