{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}

  {{ form_errors(form) }}

  {{ form_rest(form) }}

  <div>
      <input type="submit" value="{{ 'profile.edit.submit'|trans }}" />
  </div>

  <div>
      <input type="submit" id="btn-delete" value="{{ 'profile.delete.submit'|trans }}" />
  </div>

{{ form_end(form) }}
{% endblock fos_user_content %}

{% block javascripts %}
<script>
  $(document).ready(function(){
    $('#btn-delete').click(function(e) {
      if(confirm('Voulez-vous supprimer votre compte ?')){
        $("input[name$='fos_user_profile_form[enabled]']").val(0)
      }else{
        e.preventDefault()
      }
    })
  })
</script>
{% endblock %}
