{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

{% trans_default_domain 'FOSUserBundle' %}

<a href="{{ url('fos_user_profile_edit') }}">Editer Mon profil</a>

<div class="fos_user_user_show">

    <p>{{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>

    <p>Rôle :
      {% if user.hasRole('ROLE_ADMIN') or user.hasRole('ROLE_SUPER_ADMIN') %}
        Administrateur
      {% endif %}
    </p>

    {{ dump(user) }}

</div>
{% endblock fos_user_content %}
