{% extends 'emails/base.html.twig' %}

{% block title %}Contact depuis votre site{% endblock %}

{% block body %}
  <p>Nouveau contact depuis votre <a href="{{ url('homepage') }}">site</a>,</p>
  <p>{{ contact.nom }} - {{ contact.email }} vous à contacté à {{ contact.date|date("d/m/Y") }}.</p>
  <p>{{ contact.message }}</p>
{% endblock %}
