<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}{{ nomdusite }}{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
    {% if false or iframe_service.isIframe() %} <link rel="stylesheet" href="{{ asset('css/iframe.css') }}" /> {% endif %}
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  </head>
  <body>
    {% if app.request.get('_route') != 'homepage' %}
      {% include 'components/menu.html.twig' %}
      <div id="content">
    {% endif %}

      {% block body %}{% endblock %}

    {% if app.request.get('_route') != 'homepage' and not iframe_service.isIframe() %}
      </div>
    {% endif %}

    <script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=58e2494683b6f0001198da04&product=inline-share-buttons"></script>
    <script src="{{ asset('js/main.js') }}"></script>
    {% block javascripts %}{% endblock %}
  </body>
</html>
