
{% if media.isImage %}
    {% if popup is defined and popup %}
        <a href="{{ asset(media.getWebPath) }}" class="popup-image-link">
            <img src="{{ asset(media.getWebPath) }}" alt="{{ media.nom }}" />
        </a>
    {%  else %}
        <a href="{{ url('media', {'id': media.id}) }}">
            <img src="{{ asset(media.getWebPath) }}" alt="{{ media.nom }}" />
        </a>
    {% endif %}

{% elseif media.isVideo %}
  <video width="320" height="240" controls>
    <source src="{{ asset(media.getWebPath) }}">
    Votre navigateur ne supporte pas la vidéo.
   </video>
    {% if not(popup is defined and popup) %}
        <a href="{{ url('media', {'id': media.id}) }}">Lien vers le media</a>
    {% endif %}
{% else %}
    <a href="{{ asset(media.getWebPath) }}" downloads>{{ media.nom }}</a>
    <a href="{{ url('media', {'id': media.id}) }}">Lien vers le media</a>
{% endif %}
