
{% if media.isImage %}
  <a href="{{ url('media', {'id': media.id}) }}">
    <img src="{{ asset(media.getWebPath) }}" alt="{{ media.nom }}" />
  </a>
{% elseif media.isVideo %}
  <video width="320" height="240" controls>
    <source src="{{ asset(media.getWebPath) }}">
    Votre navigateur ne supporte pas la vidéo.
   </video>
   <p>
     <a href="{{ url('media', {'id': media.id}) }}">Lien vers le media</a>
   </p>
{% else %}
  <a href="{{ asset(media.getWebPath) }}" downloads>{{ media.nom }}</a>
  <p>
    <a href="{{ url('media', {'id': media.id}) }}">Lien vers le media</a>
  </p>
{% endif %}
