{% extends 'base.html.twig' %}

{% block title %} {{ camera.nom }} | {{ nomdusite }}{% endblock %}

{% block body %}
  <h1>{{ camera.nom }}</h1>
  <div class="row">
    <div class="col-sm-4">
      <img src="{{ asset(camera.getWebPath) }}" alt="{{ camera.nom }}">
    </div>
    <div class="col-sm-8">
      <p>{{ camera.description }}</p>
      <p><a class="btn button dark tippy" title="Cliquez pour copier le lien" data-clipboard-text="<iframe src='{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}' height='400px' width='600px'></iframe>">
          Partager par iframe
        </a></p>
    </div>
  </div>

  {% if stream_service.streamOnline('http://' ~ camera.ip ~ '/mjpg/video.mjpg') %}
    <h1>Streaming en direct <div class="viewer tippy" title="Nombre de personnes à regarder le direct"><i class="fa fa-eye"></i> <span id="nb-viewer">{{ camera.viewer }}</span></div></h1>
    <div class="streaming"><img src="http://{{ camera.ip }}/mjpg/video.mjpg" id="stream-flux" data-camera="{{ camera.id }}" data-play="true"/></div>
    <a href="http://{{ camera.ip }}/jpg/1/image.jpg" download="Screenshot.png" target="_blank">Capture du stream</a>
    <a id="stream-control" class="btn button dark" href="#" data-pause="http://{{ camera.ip }}/jpg/1/image.jpg" data-play="http://{{ camera.ip }}/mjpg/video.mjpg">Stop</a>
  {% endif %}

  <h1>Médias associés</h1>
  <ul class="medias">
    {%  for media in camera.medias %}
      <li class="media">
        {% include 'components/block/media.html.twig' with {'media': media} %}
        {% include 'components/block/vote.count.html.twig' with {'media': media} %}
        {% include 'components/block/vote.button.html.twig' with {'media': media} %}
      </li>
      {% endfor %}
  </ul>
{% endblock %}

{% block javascripts %}
  {% include 'components/block/vote.js.html.twig' %}
  {% include 'components/block/stream.js.html.twig' %}
{% endblock %}
