{% extends 'base.html.twig' %}

{% block title %} {{ camera.nom }} | {{ nomdusite }}{% endblock %}

{% block body %}
  <h1>{{ camera.nom }} {% if stream_service.streamOnline('http://' ~ camera.ip ~ '/mjpg/video.mjpg') %} <div class="viewer" title="Nombre de personnes à regarder le direct"><i class="fa fa-eye"></i> <span id="nb-viewer">{{ camera.viewer }}</span></div> {% endif %}</h1>
  <div class="row">
    <div class="col-sm-4">
      <img src="{{ asset(camera.getWebPath) }}" alt="{{ camera.nom }}">
    </div>
    <div class="col-sm-8">
      <p>{{ camera.description }}</p>
      <p><a class="btn button dark" data-clipboard-text="<iframe src='{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}' height='200px' width='400px'></iframe>">
          Partager par iframe (clique pour copier le lien)
        </a></p>
    </div>
  </div>

  {% if stream_service.streamOnline('http://' ~ camera.ip ~ '/mjpg/video.mjpg') %}
    <h1>Streaming en direct</h1>
    <div class="streaming"><img src="http://{{ camera.ip }}/mjpg/video.mjpg" id="stream-flux" data-camera="{{ camera.id }}"/></div>
  {% endif %}

  <h1>Médias associés</h1>
  <ul class="medias">
    {%  for media in camera.medias %}
      <li class="media">
        {% include 'components/block/media.html.twig' with {'media': media} %}
        {% include 'components/block/vote.count.html.twig' with {'media': media} %}
        {% include 'components/block/vote.button.html.twig' with {'media': media} %}
      </li>
      {% endfor %}
  </ul>
{% endblock %}

{% block javascripts %}
  {% include 'components/block/vote.js.html.twig' %}
  {% include 'components/block/stream.js.html.twig' %}
{% endblock %}
