{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ camera.nom }}</h1>
    <div class="row">
        <div class="col-sm-4">
            <img src="{{ asset(camera.getWebPath) }}" alt="{{ camera.nom }}">
        </div>
        <div class="col-sm-8">
            <p>{{ camera.description }}</p>
        </div>
    </div>

    <h1>Médias associés</h1>
    <ul class="medias">
        {%  for media in camera.medias %}
            <li class="media">
              <a href="{{ url('media', {'id': media.id}) }}">
                {% if media.isImage %}
                <img src="{{ asset(media.getWebPath) }}" alt="{{ media.nom }}" />
                {% elseif media.isVideo %}
                  <video width="320" height="240" controls>
                    <source src="{{ asset(media.getWebPath) }}" type="video/mp4">
                     Your browser does not support the video tag.
                 </video>
                {% else %}
                  <a href="{{ asset(media.getWebPath) }}" downloads>{{ media.nom }}</a>
                {% endif %}
              </a>
            </li>
            <!--+gerer les viceos + pour le lien, cam + mdeia id ?-->
        {% endfor %}
    </ul>
{% endblock %}
