{% extends 'base.html.twig' %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/index.css') }}" />
{% endblock %}

{% block body %}
  <nav>
    <ul>
      <li class="titre"><a href="{{ url('homepage') }}"><i class="fa fa-video-camera"></i> Caméra</a></li>
      {% if app.user is empty %}
        <li><a href="{{ url('fos_user_security_login') }}">Connexion</a> | <a href="{{ path("fos_user_registration_register") }}" class="link">Créer un compte</a></li>
      {% else %}
        <li><a href="{{ url('fos_user_profile_show') }}">Bienvenue <b>@{{ app.user.username }}</b></a></li>
      {% endif %}
    </ul>
  </nav>

  <header>
    Projet réalisé dans le cadre de notre quatrième année à l'école d'ingénieurs <a href="http://isen-brest.fr/">ISEN Brest</a>.
  </header>

  <section class="links">
    <ul>
      <li class="blue">
        <a href="{{ url('cameras') }}">
          <i class="fa fa-video-camera"></i><br>
          <small>Accéder aux </small><br>
          <b>caméras publiques</b>
        </a>
      </li>
      <li class="yellow">
        <a href="{{ url('medias_populaires') }}">
          <i class="fa fa-star"></i><br>
          <small>Accéder aux </small><br>
          <b>médias populaires</b>
        </a>
      </li>
      <li class="green">
        <a href="{{ url('medias_recents') }}">
          <i class="fa fa-clock-o"></i><br>
          <small>Accéder aux </small><br>
          <b>derniers médias</b>
        </a>
      </li>
    </ul>
  </section>



  <section id="camera">
    {% set break = false %}
    {% for camera in cameras if not break %}
        {% set stream_on = stream_service.streamOnline('http://' ~ camera.ip ~ '/mjpg/video.mjpg') %}
      {% if stream_on or camera == cameras[cameras|length - 1] %}
        <div class="visu">
            {% if stream_on %}
              <div class="streaming"><img src="http://{{ camera.ip }}/mjpg/video.mjpg" id="stream-flux" data-camera="{{ camera.id }}" /></div>
            {%  else %}
              <img src="{{ asset(camera.getWebPath) }}" alt="{{ camera.nom }}" class="offline">
            {% endif %}

        </div>

        <div class="description">
          <h2>{{ camera.nom }}
            <span class="etat">
              {% if stream_on %}
                <i class="fa fa-circle stream-on"></i> On
              {%  else %}
                <i class="fa fa-circle"></i> Off
              {% endif %}
            </span>
            {% if stream_on %} <div class="viewer"><i class="fa fa-eye"></i> <span id="nb-viewer">{{ camera.viewer }}</span></div> {% endif %}
          </h2>
          <p>{{ camera.description }}</p>
          <a href="{{ url('camera', {'id': camera.id}) }}" class="button"> Accéder à la caméra</a>
        </div>

        <style>
          #camera {
            height: 460px;
            display: block;
            position: relative;
          }
          #camera::after {
            content: "";
            background-image: url('{{ asset(camera.getWebPath) }}');
            background-size: cover;
            background-position: center;
            background-color:rgba(0, 0, 0, 0.8);
            opacity: 0.5;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            z-index: -1;
          }
        </style>
        {% set break = true %}
      {% endif %}
    {% endfor %}
  </section>

  <section id="populaires">
    <h2>Médias populaires</h2>
    <ul>
      {% for media in medias|slice(0, 4) %}
        <li>
        {% if media.isImage %}
          <a href="{{ url('media', {'id': media.id}) }}">
            <img src="{{ asset(media.getWebPath) }}" alt="{{ media.nom }}" />
          </a>
        {% elseif media.isVideo %}
          <video width="320" height="240" controls>
            <source src="{{ asset(media.getWebPath) }}">
            Votre navigateur ne supporte pas la vidéo.
          </video>
          <p>
            <a href="{{ url('media', {'id': media.id}) }}">Lien vers le media</a>
          </p>
        {% else %}
          <a href="{{ asset(media.getWebPath) }}" downloads>{{ media.nom }}</a>
          <p>
            <a href="{{ url('media', {'id': media.id}) }}">Lien vers le media</a>
          </p>
        {% endif %}
        </li>
      {% endfor %}
    </ul>
  </section>

  <section id="partenaires">
    <h1>Partenaires</h1>
    <ul>
      <li><a href="http://www.isen.fr/"><img src="{{ asset('img/partenaire1.png') }}" alt="ISEN Yncréa"></a></li>
      <li><a href="http://www.seatestbase.com/"><img src="{{ asset('img/partenaire2.png') }}" alt="Sea Test Base"></a></li>
      <li><a href="http://www.oceanopolis.com/"><img src="{{ asset('img/partenaire3.png') }}" alt="Océanopolis Brest"></a></li>
      <li><a href="http://www.parc-marin-iroise.fr/"><img src="{{ asset('img/partenaire4.png') }}" alt="Parc naturel marin d'Iroise"></a></li>
    </ul>
  </section>

  <section id="sous-menu">
      <span><a href="">Plan du site</a> //a remplir</span>
      <span><a href="">Mentions légales</a> //a remplir</span>
      <span><a href="{{ url('contact') }}">Contact</a></span>
    </div>
  </section>

  <footer>
    Réalisé par <a href="http://evanguelard.fr" target="_blank">Evan Guélard</a> et <a href="http://konstantin-sidorenko.fr" target="_blank">Konstantin Sidorenko</a> |
    Tutelle de Yves Auffret | <a href="http://isen-brest.fr/">ISEN Brest</a> | Propulsé par <a
            href="https://www.ovh.com/fr/">OVH</a>
  </footer>
{% endblock %}

{% block javascripts %}
    {% include 'components/block/stream.js.html.twig' %}
{% endblock %}