{% extends 'base.html.twig' %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/index.css') }}" />
{% endblock %}

{% block body %}
  <nav>
    <ul>
      <li class="titre"><a href="{{ url('homepage') }}"><i class="fa fa-video-camera"></i> Caméra</a></li>
      {% if app.user is empty %}
        <li><a href="{{ url('fos_user_security_login') }}">Connexion</a></li>
      {% else %}
        <li><a href="{{ url('fos_user_profile_show') }}">Bienvenue <b>@{{ app.user.username }}</b></a></li>
      {% endif %}
    </ul>
  </nav>

  <header>
    Projet réalisé dans le cadre de notre quatrième année à l'école d'ingénieurs <a href="http://isen-brest.fr/">ISEN Brest</a>.
  </header>

  <section class="links">
    <ul>
      <li class="blue">
        <a href="{{ url('cameras') }}">
          <i class="fa fa-video-camera"></i><br>
          <small>Accéder aux </small><br>
          <b>caméras publiques</b>
        </a>
      </li>
      <li class="yellow">
        <a href="{{ url('medias_populaires') }}">
          <i class="fa fa-star"></i><br>
          <small>Accéder aux </small><br>
          <b>médias populaires</b>
        </a>
      </li>
      <li class="green">
        <a href="{{ url('medias_derniers') }}">
          <i class="fa fa-clock-o"></i><br>
          <small>Accéder aux </small><br>
          <b>derniers médias</b>
        </a>
      </li>
    </ul>
  </section>

  <section id="partenaires">
    <h1>Partenaires</h1>
    <ul>
      <li><a href=""><img src="" alt=""></a></li>
    </ul>
  </section>

  <section id="sous-menu">
      <span><a href="">Plan du site</a> //a remplir</span>
      <span><a href="">Mentions légales</a> //a remplir</span>
      <span><a href="{{ url('contact') }}">Contact</a></span>
    </div>
  </section>

  <footer>
    Réalisé par <a href="http://evanguelard.fr" target="_blank">Evan Guélard</a> et <a href="http://konstantin-sidorenko.fr" target="_blank">Konstantin Sidorenko</a> |
    Tutelle de Yves Auffret | <a href="http://isen-brest.fr/">ISEN Brest</a>
  </footer>
{% endblock %}
