{% extends 'base.html.twig' %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/index.css') }}" />
{% endblock %}

{% block body %}
  <nav>
    <div class="col-xs-6">Caméra</div>
    <div class="col-xs-6">Connexion</div>
  </nav>

  <header>
    Projet réalisé dans le cadre de notre quatrième année à l'école d'ingénieurs <a href="http://isen-brest.fr/">ISEN Brest</a>.
  </header>

  <section class="links">
    <ul>
      <li class="blue">
        <a href="{{ url('cameras') }}">
          <i class="fa fa-video-camera"></i><br>
          <small>Accéder aux </small><br>
          <b>caméras publiques</b>
        </a>
      </li>
      <li class="yellow">
        <a href="{{ url('medias_populaires') }}">
          <i class="fa fa-star"></i><br>
          <small>Accéder aux </small><br>
          <b>médias populaires</b>
        </a>
      </li>
      <li class="green">
        <a href="{{ url('medias_derniers') }}">
          <i class="fa fa-clock-o"></i><br>
          <small>Accéder aux </small><br>
          <b>derniers médias</b>
        </a>
      </li>
    </ul>
  </section>

  <section>
    <h1>Partenaires</h1>
    <ul>
      <li><a href=""><img src="" alt=""></a></li>
    </ul>
  </section>

  <section>
    <div class="row">
      <div class="col-xs-4"><a href="">Plan du site</a> //a remplir</div>
      <div class="col-xs-4"><a href="">Mentions légales</a> //a remplir</div>
      <div class="col-xs-4"><a href="{{ url('contact') }}">Contact</a></div>
    </div>
  </section>

  <footer>
    Réalisé par <a href="http://evanguelard.fr" target="_blank">Evan Guélard</a> et <a href="http://konstantin-sidorenko.fr" target="_blank">Konstantin Sidorenko</a> -
    <a href="http://isen-brest.fr/">ISEN Brest</a> - Tutelle de Monsieur Yves Auffret
  </footer>
{% endblock %}
