{% extends 'base.html.twig' %}

{% block body %}

    <h1>{{ media.nom }} <small>{{ media.created|date('d/m/Y') }}</small></h1>

    <h2>Vote : {{ media.vote }}</h2>

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            {% if media.isImage %}
                <img src="{{ asset(media.getWebPath) }}" alt="{{ media.nom }}" />
            {% elseif media.isVideo %}
                <video width="320" height="240" controls>
                    <source src="{{ asset(media.getWebPath) }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            {% else %}
                <a href="{{ asset(media.getWebPath) }}" downloads>{{ media.nom }}</a>
            {% endif %}
        </div>
    </div>

    {{ dump(media) }}
{% endblock %}
