{% extends 'base.html.twig' %}

{% block title %} {{ media.nom }} - {{ media.camera.nom }} | {{ nomdusite }}{% endblock %}


{% block body %}

  <h1>{{ media.nom }} <small>{{ media.created|date('d/m/Y') }}</small> <small class="vote-label"> Vote(s)</small>{% include 'components/block/vote.count.html.twig' with {'media': media} %}{% include 'components/block/vote.button.html.twig' with {'media': media} %}</h1>

  <div class="lemedia">
      {% include 'components/block/media.html.twig' with {'media': media, 'popup': true} %}
  </div>
  <br>
  <div class="sharethis-inline-share-buttons"></div>
  <br>
  <div class="media-links"><a href="{{ asset(media.getWebPath) }}" class="btn button dark" download><i class="fa fa-download"></i> Télécharger le média</a>&nbsp;
    <a href="{{ path('camera', { id:media.camera.id}) }}" class="button dark">Voir la caméra associée</a>&nbsp;
    <a class="btn button dark tippy" itle="Cliquez pour copier le lien" data-clipboard-text="<iframe src='{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}' height='400px' width='600px'></iframe>">Partager par iframe</a>
  </div>

{% endblock %}

{% block javascripts %}
  {% include 'components/block/vote.js.html.twig' %}
{% endblock %}
