{% extends 'base.html.twig' %}

{% block title %}
    {% if app.request.get('_route') == 'medias_populaires' %}
        Médias populaires | {{ nomdusite }}
    {% elseif app.request.get('_route') == 'medias_recents'%}
        Médias récents | {{ nomdusite }}
    {% elseif app.request.get('_route') == 'medias_photo_periode'%}
        Photos {{ app.request.get('periode') | replace({'-': ' '}) }} | {{ nomdusite }}
    {% endif %}
{% endblock %}

{% block body %}


  <h1>
    {% if app.request.get('_route') == 'medias_populaires' %}
      Médias populaires
    {% elseif app.request.get('_route') == 'medias_recents'%}
      Médias récents
    {% elseif app.request.get('_route') == 'medias_photo_periode' %}
        Médias {{ app.request.get('periode') | replace({'-': ' '}) }}
    {% endif %}
  </h1>

    {% if app.request.get('_route') == 'medias_photo_periode'%}
        <div class="periode">
            <a href="{{ url('medias_photo_periode', {periode: 'du-jour'}) }}"><small>Voir les</small><br><b>Médias du jour</b></a> <a href="{{ url('medias_photo_periode', {periode: 'de-la-semaine'}) }}"><small>Voir les</small><br><b>Médias de la semaine</b></a> <a href="{{ url('medias_photo_periode', {periode: 'du-mois'}) }}"><small>Voir les</small><br><b>Médias du mois</b></a>
        </div>
    {% endif %}

    <i>
        {% if app.request.get('_route') == 'medias_populaires' %}
            Médias les plus votés.
        {% elseif app.request.get('_route') == 'medias_recents'%}
            Médias ajoutés récement.
        {% elseif app.request.get('_route') == 'medias_photo_periode'%}
            Médias les plus votées {{ app.request.get('periode') | replace({'-': ' '}) }}.
        {% endif %}
        &nbsp;&nbsp;<a class="btn button dark tippy" title="Cliquez pour copier le lien" data-clipboard-text="<iframe src='{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}' height='400px' width='600px'></iframe>">Partager par iframe</a>
    </i><br><br>

{% if pagination.getTotalItemCount == 0 %}
  {% set media = media_service.random() %}
  <ul class="medias">
    <li class="media">
      {% include 'components/block/media.html.twig' with {'media': media, 'popup': false} %}
      {% include 'components/block/vote.count.html.twig' with {'media': media} %}
      {% include 'components/block/vote.button.html.twig' with {'media': media} %}
    </li>
  </ul>
{% else %}
  <ul class="medias">
  {% for media in pagination %}
    <li class="media">
      {% include 'components/block/media.html.twig' with {'media': media, 'popup': false} %}
      {% include 'components/block/vote.count.html.twig' with {'media': media} %}
      {% include 'components/block/vote.button.html.twig' with {'media': media} %}
    </li>
  {% endfor %}
  </ul>
  <div class="navigation">
      {{ knp_pagination_render(pagination) }}
  </div>
{% endif %}
{% endblock %}

{% block javascripts %}
  {% include 'components/block/vote.js.html.twig' %}
{% endblock %}
