{% extends 'base.html.twig' %}

{% block body %}

    {% if media.isImage %}
    <img src="{{ asset(media.getWebPath) }}" alt="{{ media.nom }}" />
    {% elseif media.isVideo %}
      <video width="320" height="240" controls>
        <source src="{{ asset(media.getWebPath) }}" type="video/mp4">
         Your browser does not support the video tag.
     </video>
    {% else %}
      <a href="{{ asset(media.getWebPath) }}" downloads>{{ media.nom }}</a>
    {% endif %}

    {{ dump(media) }}
{% endblock %}
